@{
    ViewBag.Title = "WebOther";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xin chào quý khách - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/webpayment.css" /> <!-- Chỉnh sửa đường dẫn và loại -->
</head>
<body>
    <div class="rotate_gift">
        <img src="~/Content/img/icon_countdown.svg" alt="Gift Image" id="rotating-img" /> <!-- Đóng thẻ img một cách chính xác -->
    </div>
    <div id="remainingContent" class="hidden">
        <p>Noi dung con la</p>
        <h1>y</h1>
        <ul>
            <li>
                y
            </li>
            <li>
                b
            </li>
        </ul>
    </div>
    <script src="~/Content/js/webpayment.js">
    </script>
    <script>
        
    </script>
</body>
</html>
